<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <title>Please sign in</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-/Y6pD6FV/Vv2HJnA6t+vslU6fwYXjCFtcEpHbNJ0lyAFsXTsjBbfaDjzALeQsN6M" crossorigin="anonymous">
    <link href="https://getbootstrap.com/docs/4.0/examples/signin/signin.css" rel="stylesheet" crossorigin="anonymous">
    <style>
        body{
            background-color : #3e3e3e;
            color : white;
        }
    </style>
</head>
<body>
    <div class="container">
        <div align="center">
            <li th:each="booking : ${bookings}">
<!--                <span th:text="${booking.booker.name}">Default</span>-->
                <span th:text="${booking.bookingPlace}">Default</span>
                <span th:text="${booking.bookingDate}">Default</span>
                <span th:text="${booking.bookingTime}">Default</span>
            </li>
        </div>
    </div>
</body>